/*----------------------------------------------------------------- General: */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'DM Sans', sans-serif !important;
    color: white !important;
}

/*----------------------------------------------------------------- Header: */

.header {
    padding: 20px 0;
}

.header img {
    width: 120px;
}

/*----------------------------------------------------------------- Main: */

.main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/construction-image.jpg") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main img {
    width: 100%;
    border-radius: 10px;
}

.bg-progress {
    background-color: #ff8c00 !important;
}

.main-impressum {
    background-color: #001f3f !important;
}

/*----------------------------------------------------------------- Footer: */

.footer {
    padding: 20px 0;
}

.footer p {
    color: #001f3f !important;
}

.footer a {
    color: #001f3f !important;
}
